.catalog {
}
.catalog__inner {
}
.catalog__title {
  margin: 0;
  padding: 27px 0 40px;
  text-align: center;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}
.catalog-top {
}
.catalog-top__list {
  padding: 0;
  margin: 0;
}
.catalog-top__items {
  padding: 20px;
  list-style: none;
}
.catalog-top__title {
  font-family: "Oswald";
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: @dark;
}
.catalog-top__table {
}
.catalog-top__line {
  font-family: "Arial";
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}
.catalog-top__item {
}
.catalog-top__button {
  display: block;
  margin: 20px;
  padding: 8px 74px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
}
.catalog-bottom__title{
  font-family: "Oswald";
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: @special-black;
}
.catalog-bottom__text{
  font-family: "Arial";
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
color: @dark-grey;
}
.catalog-bottom__button{
  display: block;
  margin: 20px;
  padding: 8px 74px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  background-color: @light-grey;
}
