.catalog__title {
  margin: 0;
  padding: 27px 0 40px;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.catalog-top__list {
  padding: 0;
  margin: 0;
}

.catalog-top__items {
  padding: 20px;
  list-style: none;
}

.catalog-top__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark;
}

.catalog-top__line {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.catalog-top__button {
  display: block;
  margin: 20px;
  padding: 8px 74px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
}

.catalog-top__title--show-more {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special-black;
}

.catalog-top__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-grey;
}

.catalog-top__button--show-more {
  display: block;
  margin: 20px;
  padding: 8px 74px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .catalog-top__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .addition__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .addition__button {
    width: 632px;
  }

  .addition-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .addition-promo__text {
    width: 161px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-top__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .addition__button {
    width: 244px;
  }
}
