.catalog {
  margin-bottom: 25px;
}

.catalog__title {
  margin: 0;
  padding: 27px 21px 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.catalog-top__box {
  padding: 0;
}

.catalog-top__items {
  padding: 6px 7px 6px 22px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid @border-grey;
}

.catalog-top__inner {
  margin-left: 17px;
  padding-left: 11px;
}

.catalog-top__image {
  margin-left: 10px;
}

.catalog-top__title {
  width: 85px;
  margin: 0;
  margin-bottom: 11px;
  padding-top: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark;
}

.catalog-top__table {
  width: 141px;
  border-spacing: 0;
}

.catalog-top__line {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.catalog-top__item--right {
  text-align: right;
}

.catalog-top__button {
  display: block;
  width: 280px;
  margin: 20px 0;
  padding: 8px 74px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
  border: none;
}

.catalog-top__button--show-more {
  width: 280px;
  margin-top: 20px;
  padding: 8px 74px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  background-color: @light-grey;
  border: none;
}


.catalog-top__items--show-more {
  flex-direction: column;
  padding-bottom: 18px;
  border-bottom: 1px solid @border-grey;
}

.catalog-top__title--show-more {
  position: relative;
  margin-top: 74px;
  margin-left: -8px;
  margin-bottom: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special-black;

  &::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 132px;
    width: 30px;
    height: 2px;
    background-color: @grey-plus;
  }

  &::after {
    position: absolute;
    content: "";
    top: -39px;
    left: 131px;
    width: 30px;
    height: 2px;
    background-color: @grey-plus;
    transform: rotate(90deg);
  }
}

.catalog-top__text {
  margin-top: 9px;
  margin-left: -3px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @dark-grey;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  .catalog__title {
    margin: 0;
    padding: 55px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog-top__box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 62px 60px;
  }

  .catalog-top__items {
    padding: 0;
    padding-bottom: 15px;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: @light-grey;
  }

  .catalog-top__items--show-more {
    border: 1px solid @light-grey;
    background-color: @white;
  }

  .catalog-top__image {
    margin-top: -75px;
    margin-left: 0;
    width: 168px;
    height: 200px;
  }

  .catalog-top__inner {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .catalog-top__title,
  .catalog-top__title--show-more {
    width: 159px;
    padding-top: 0;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .catalog-top__title--show-more {
    margin-top: 157px;
    margin-left: 0;

    &::before {
      top: -76px;
      left: 48px;
      width: 60px;
    }

    &::after {
      top: -78px;
      left: 49px;
      width: 60px;
    }
  }

  .catalog-top__table {
    width: 251px;
    border-spacing: 0 6px;
  }

  .catalog-top__line {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog-top__item,
  .catalog-top__item--right {
    padding-bottom: 8px;
    border-bottom: 1px solid @grey-radio;
  }

  .catalog-top__button {
    width: 248px;
    margin: 27px 0;

    &--show-more {
      width: 248px;
      margin: 70px 0 25px;
    }
  }

  .catalog-top__text {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1220px;
    margin-bottom: 73px;
  }

  .catalog__title {
    padding: 70px 0 55px;
  }

  .catalog-top__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 69px 80px;
  }

  .catalog-top__image {
    margin-top: -80px;
  }

  .catalog-top__inner {
    padding-top: 40px;
  }

  .catalog-top__title {
    margin-bottom: 17px;
  }

  .catalog-top__title--show-more {
    margin-top: 159px;
  }

  .catalog-top__table {
    width: 180px;
    border-spacing: 6px 5px;
  }

  .catalog-top__button {
    width: 168px;
    margin: 27px 0 18px;
    padding: 11px 30px;

    &--show-more {
      width: 168px;
      margin: 68px 0 25px;
      padding: 11px 30px;
    }
  }
}
