.contacts-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-description__title {
  width: 138px;
  margin: 30px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;
}

.contacts-description__address {
  width: 138px;
  margin-top: 28px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

.contacts-description__map {
  padding: 0;
  margin: 0 auto;
}

.contacts__map {
  width: 100vw;
  margin: 0 auto;
}

.main-form .contacts {
  background-color: @light-grey;
}

.main-catalog .contacts {
  background-color: @light-grey;
}

@media (min-width: @tablet-width) {
  .contacts {
    background-color: @light-grey;
  }

  .main .contacts {
    background-color: @white;
  }

  .main-form .contacts {
    margin-top: 75px;
  }

  .contacts-description {
    margin: 0 43px 0 40px;
    padding-top: 64px;
    padding-bottom: 60px;
  }

  .contacts-description__title {
    width: 170px;
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }

  .contacts-description__address,
  .contacts-description__span {
    padding: 0;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts-description__address {
    margin: 0;
    text-align: right;
  }

  .contacts-description__span {
    display: block;
    margin-top: 20px;
  }


  .contacts__map {
    width: 100vw;
    height: 400px;
    margin: 0 auto;
    transform: translateX(0);
  }

  .contacts__form {
    background-color: @light-grey;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: relative;
    margin-top: -193px;
  }

  .main .contacts {
    transform: translateY(0);
  }

  .main-form .contacts {
    margin-top: 280px;
  }

  .main-catalog .contacts {
    margin-top: 278px;
  }

  .contacts-description {
    z-index: 1;
    position: absolute;
    content: "";
    top: 90px;
    left: -39px;
    width: 570px;
    height: 200px;
    align-items: center;
    background-color: @white;
  }

  .contacts-description__title {
    margin-left: 74px;
  }

  .contacts-description__address {
    text-align: left;
    margin-right: 86px;
  }

  .contacts-description__span {
    margin-top: 19px;
  }

  .contacts__images {
    width: 100%;
  }

  .contacts__form {
    background-color: @white;
  }
}
