.wrapper {
  width: 320px;
  margin: 0 auto;
}

.contacts-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-description__title {
  width: 138px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
}

.contacts-description__address,
.contacts-description__span {
  width: 137px;
  padding-top: 4px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-top: 48px;
    background-color: @light-grey;
  }

  .contacts-description {
    margin: 0 57px 0 27px;
    padding-top: 64px;
  }

  .contacts-description__title {
    width: 170px;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .contacts-description__address,
  .contacts-description__span {
    padding: 0;
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts-description__address {
    margin: 0;
    text-align: right;
  }

  .contacts-description__span {
    display: block;
    margin-top: 17px;
  }

  .contacts__images {
    width: 768px;
    height: 400px;
  }

  .contacts__form {
    background-color: @light-grey;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    margin-top: -250px;
  }

  .contacts-description {
    position: absolute;
    content: "";
    top: 80px;
    left: 70px;
    width: 570px;
    height: 200px;
    align-items: center;
    background-color: @white;
  }

  .contacts-description__title {
    margin-left: 76px;
  }

  .contacts-description__address {
    text-align: left;
    margin-right: 84px;
  }

  .contacts__images {
    width: 100%;
  }

  .contacts__form {
    background-color: @white;
  }
}
