.contacts__text{
  margin: 28px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacts__title {
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
}
.contacts__address,
.contacts__span {
  width: 140px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}
@media (min-width: @tablet-width){

  .contacts__text{
    margin: 60px 70px;
  }

  .contacts__title{
    width: 170px;
    font-size: 20px;
    line-height: 21px;
  }

  .contacts__address,
  .contacts__span{
    width: 160px;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__address{
    text-align: right;
  }

  .contacts__span{
    display: block;
    margin-top: 20px;
  }

}
@media (min-width: @desktop-width){

  .contacts__text{
    width: 570px;
    height: 200px;
    align-items: center;
  }

  .contacts__title{
    margin-left: 70px;
  }

  .contacts__address{
    text-align: left;
    margin-right: 90px;
  }

}
