.description{
  padding: 20px;
}
.description__title{
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}
.item__text{
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}
.item__text + .item__text{
  padding-top: 20px;
}
