.footer {
  min-width: 320px;
  background-color: @light-grey;
  text-align: center;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 280px;
}

.footer__logo {
  padding: 37px 0 27px;
  border-bottom: 1px solid @border-grey;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-left: 33px;
  margin-right: 78px;
}

.footer__social-item {
  list-style: none;
}

.footer__social-link {
  fill: @social-grey;
  display: block;
}

.footer__social-link .footer__social-icon--facebook {
  stroke: @social-grey;
}

.footer__social-link:hover .footer__social-icon--vkontakte,
.footer__social-link:hover .footer__social-icon--instagram,
.footer__social-link:hover .footer__social-icon--facebook {
  fill: @basic-green;
}

.footer__social-link:active .footer__social-icon--vkontakte,
.footer__social-link:active .footer__social-icon--instagram,
.footer__social-link:active .footer__social-icon--facebook {
  opacity: 0.3;
  fill: @basic-green;
}

.footer__copyright-link {
  padding: 22px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @border-grey;
  text-decoration: none;
}

.footer__copyright-text {
  margin: 0;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.footer__copyright-image {
  fill: @social-grey;
}

.footer__copyright-link:hover .footer__copyright-image {
  fill: @basic-green;
}

.footer__copyright-link:active .footer__copyright-text,
.footer__copyright-link:active .footer__copyright-image {
  opacity: 0.3;
  fill: @basic-green;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__logo {
    padding: 25px 0;
    border: none;
  }

  .footer__social-list {
    width: 130px;
    padding: 0;
    margin-top: 17px;
    margin-right: 10px;
  }

  .footer__social-icon--vkontakte {
    width: 30px;
    height: 22px;
  }

  .footer__social-icon--instagram {
    width: 23px;
    height: 23px;
  }

  .footer__social-icon--facebook {
    width: 28px;
    height: 33px;
  }

  .footer__copyright {
    width: 163px;
    border: none;
  }

  .footer__copyright-link {
    padding: 18px 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 1220px;
    margin-top: 0;
    padding-top: 38px;

    .footer__logo {
      padding-top: 25px;
      padding-left: 0;
    }

    .footer__social-list {
      margin-top: 18px;
    }

    .footer__copyright {
      padding: 0;
    }

    .footer__copyright-link {
      padding: 19px 0;
    }
  }
}
