.footer {
  min-width: 320px;
  background-color: @light-grey;
  text-align: center;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 280px;
}

.footer__logo {
  padding: 30px 0 27px;
  border-bottom: 1px solid @border-grey;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  margin-left: 33px;
  margin-right: 78px;
}

.footer-social__item {
  list-style: none;
}

.footer-social__link {
  fill: @social-grey;
  display: block;

  & .footer-social__icon--facebook {
    stroke: @social-grey;
  }

  &:hover .footer-social__icon--vkontakte {
    fill: @basic-green;
  }

  &:hover .footer-social__icon--instagram {
    fill: @basic-green;
  }

  &:hover .footer-social__icon--facebook {
    stroke: @basic-green;
  }

  &:active .footer-social__icon--vkontakte {
    opacity: 0.3;
    fill: @basic-green;
  }

  &:active .footer-social__icon--instagram {
    opacity: 0.3;
    fill: @basic-green;
  }

  &:active .footer-social__icon--facebook {
    opacity: 0.3;
    stroke: @basic-green;
  }
}

.footer-copyright__link {
  padding: 22px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @border-grey;
  text-decoration: none;
}

.footer-copyright__text {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.footer-copyright__image {
  fill: @social-grey;
}

.footer-copyright__link:hover .footer-copyright__image {
  fill: @basic-green;
}

.footer-copyright__link:active .footer-copyright__text,
.footer-copyright__link:active .footer-copyright__image {
  opacity: 0.3;
  fill: @basic-green;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__logo {
    padding: 25px 0;
    border: none;
  }

  .footer-social__list {
    width: 130px;
    padding: 0;
    margin-top: 17px;
    margin-right: 10px;
  }

  .footer-social__icon--vkontakte {
    width: 30px;
    height: 22px;
  }

  .footer-social__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .footer-social__icon--facebook {
    width: 28px;
    height: 33px;
  }

  .footer-copyright {
    width: 163px;
    border: none;
  }

  .footer-copyright__link {
    padding: 18px 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    width: 1220px;

    .footer__logo {
      padding-top: 27px;
      padding-left: 0;
    }

    .footer-social__list {
      margin-top: 21px;
    }

    .footer-copyright {
      padding: 0;
    }

    .footer-copyright__link {
      padding: 23px 0;
    }
  }
}
