.footer{
  background-color: @light-grey;
  padding: 20px;
}
.social__list{
  display: flex;
  flex-wrap: wrap;
}
.social__item{
  list-style: none;
}
.footer-copyright{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-copyright__text{
  font-family: "Arial","Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}
@media (min-width: @tablet-width){

.footer__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

}
