.form {
  text-align: left;
}

.form__title {
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.form__text {
  padding-left: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}

.form-selection__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.form-selection__list {
  padding: 0;
  margin: 0;
}

.form-selection__item {
  padding: 22px 20px;
}

.form-selection__cats {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  list-style: none;
}

.form-selection__cats + .form-selection__cats {
  margin-top: 15px;
}

.form-selection__text {
  padding: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
}

.form-selection__radio {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark;
  list-style: none;
}

.form-selection__radio + .form-selection__radio {
  margin-top: 20px;
}

.form-selection__owner {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
  list-style: none;
}

.form-selection__owner + .form-selection__owner {
  margin-top: 15px;
}

.form-selection__mail-input,
.form-selection__phone-input {
  padding: 13px 15px 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
}

.form-selection__comment {
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey;
}

.form-selection__checkbox {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
  list-style: none;
}

.form-selection__checkbox + .form-selection__checkbox {
  margin-top: 15px;
}

.form-selection__button {
  display: block;
  margin: 20px;
  padding: 8px 74px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @white;
  background-color: @basic-green;
}

.form__span {
  display: block;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
}
