.header {
  padding-bottom: 3px;
  border-bottom: 1px solid @special-border-grey;
}

.header--index {
  padding: 0;
  border: none;
  margin-bottom: 5px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: @mobile-width) {
  .header-logo__button {
    position: relative;
    z-index: 20;
    top: 14px;
    left: 2px;
    width: 0;
    height: 0;
    cursor: pointer;
    border: none;
  }

  .header-logo__button::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 1px;
    width: 24px;
    height: 1.5px;
    background-color: @black;
    box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
  }

  .header-nav--closed .header-nav__item {
    display: none;
  }
}

.header-nav__list {
  padding: 0;
  margin: 0;
}

.header-nav__item {
  list-style: none;
  padding: 24px 0;
  border-top: 1px solid @border-grey;
  transform: translateX(-25px);
}

.header-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .header {
    border: none;
  }

  .header__wrapper {
    justify-content: space-between;
    flex-direction: row;
  }

  .header-nav {
    width: 440px;
  }

  .header-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-logo__button {
    display: none;
  }

  .header-nav__item {
    border: none;
    padding: 15px 0;
    transform: none;

    & + & {
      margin-left: 35px;
    }
  }

  .header-nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .header-nav__link--active {
    padding-bottom: 6px;
    border-bottom: 2px solid @basic-green;
  }
}

@media (min-width: @desktop-width) {
  .header-nav {
    min-width: 483px;
  }

  .header-nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: @white;
    }
  }

  .header--index .header-nav__link--active {
    border-bottom: 2px solid @white;
  }

  .header-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
