.promo {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: @white;
  background-image: url("https://via.placeholder.com/320x302");
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 22px;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.promo-description {
  text-align: center;
}

.promo-description__title {
  font-weight: 400;
  margin: 26px 0 0;
  font-size: 36px;
  line-height: 36px;
}

.promo-description__text {
  margin: 26px 3px 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__images {
  margin-top: -20px;
}

.promo__link {
  order: 1;
  width: 280px;
  margin-left: 0;
  margin-top: 8px;
  padding: 11px 25px 11px 72px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: @basic-green;
}

.promo__link:hover {
  background-color: @special-green;
}

.promo__link:active {
  color: @button-active;
}

@media (min-width: @tablet-width) {
  .promo {
    color: @black;
    margin-bottom: 56px;
    background-image: none;
  }

  .promo__wrapper {
    padding: 0 30px;
  }

  .promo-description {
    text-align: left;
    padding-left: 58px;
    padding-top: 0;
  }

  .promo-description__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-top: 50px;
  }

  .promo-description__text {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-top: 43px;
  }

  .promo__images {
    width: 529px;
    height: 609px;
    margin-left: 117px;
    margin-top: -105px;
  }

  .promo__image {
    width: 529px;
    height: 609px;
  }

  .promo__link {
    width: 244px;
    z-index: 1;
    order: 0;
    padding: 17px 26px;
    margin-top: 49px;
    margin-left: 55px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    z-index: 0;
    background-image: url("https://via.placeholder.com/720x694");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: 718px -140px;
    margin-top: 30px;
  }

  .promo__wrapper {
    height: 550px;
  }

  .promo-description {
    padding-top: 23px;
    padding-left: 50px;
  }

  .promo-description__title {
    margin-top: 54px;
  }

  .promo-description__text {
    margin-top: 40px;
  }

  .promo__images {
    order: 1;
    width: 552px;
    height: 499px;
    margin-top: -50px;
    margin-left: -30px;
  }

  .promo__image {
    width: 552px;
    height: 499px;
  }

  .promo__link {
    margin-top: 52px;
    margin-left: 50px;
  }
}
