.review{
  padding: 22px 20px 17px;
}
.review__item{
  padding: 30px 20px 18px 33px;
  margin-bottom: 20px;
  text-align: left;
  background-color: @light-grey;
}
.review__title{
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: @black;
  text-transform: uppercase;
}
.review__text{
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @dark-grey;
}
.review__link{
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;
}
