// Начните писать стили здесь
@black: #000000;
@button-active: rgba(225, 225, 225, 0.3);
@grey-button-active: rgba(68, 68, 68, 0.3);
@basic-shadow: rgba(0, 0, 0, 0.16);
@basic-shadow-hover: rgba(0, 0, 0, 0.19);
@basic-shadow-active: rgba(0, 0, 0, 0.2);
@border-hover: rgba(0, 0, 0, 0.4);
@special-black: #111111;
@dark: #222222;
@dark-grey: #444444;
@social-grey: #666666;
@light-grey: #f2f2f2;
@special-grey: #EAEAEA;
@special-dark-grey: #EBEBEB;
@border-grey: #e7e7e7;
@grey-plus: #d3d3d3;
@grey-radio: #CDCDCD;
@grey-radio-active: #BABABA;
@special-border-grey: #D9D9D9;
@white: #ffffff;
@basic-green: #68B738;
@special-green: #5EAA2F;
@import "global/font";
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width: 767px;
@import "blocks/body";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/promo";
@import "blocks/review";
@import "blocks/description";
@import "blocks/slider";
@import "blocks/contacts";
@import "blocks/form";
@import "blocks/catalog";
@import "blocks/addition";
